.wrapper {
    padding: 20px;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.cardContent {
    height: 200px;
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}